.searchPage__info {
  padding: 20px 20px 20px 30px;
}

.searchPage__info > h1 {
  margin-bottom: 30px;
  padding-left: 9px;;
}

.searchPage__info > button {
  border-radius: 30px;
  text-transform: inherit;
  margin: 5px;
}

